:root {
    font-size: 1.2em;
}
body {
    font-family: 'JetBrains Mono', monospace;
    display: grid;
    place-items: center;
    margin: 0;
    background-color: #111;
    color: white;
}

code {
    font-size: 1.2em;
}

a {
    color: cornflowerblue;
    &:visited {
        color:#dba3ed;
    }
}
