/*
    (Modified) DigitalOcean Minimal CSS Reset
    https://www.digitalocean.com/community/tutorials/css-minimal-css-reset
*/

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: system-ui, sans-serif;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
}

img {
    max-width: 100%;
    height: auto;
}
/* Actual Styling */

@keyframes blinking-cursor {
    10%,
    90% {
        opacity: 1;
    }
    40%,
    60% {
        opacity: 0;
    }
}

body {
    margin: 0 2rem 2rem 2rem;
    background-color: #222127;
}

header {
    padding-top: 2em;
}
h1 {
    text-align: center;
    font-size: 2rem;
    font-family: "Consolas", Courier, monospace;
    font-weight: 900;
}

.typewriter::after {
    content: "|";
    animation: blinking-cursor 1000ms ease-in-out infinite;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 4rem;
    align-items: center;
}

.inline {
    display: inline;
}

.link {
    color: #fff;

    &:visited {
        color: #ddd;
    }

    font-weight: 600;
}

.comment {
    color: hsl(0, 0%, 39%);
    font-family: "Consolas", Courier, monospace;
    font-weight: 800;
}

section {
    width: min(100%, 45em);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

article {
    background: #1c1c20;
    padding: 1rem 3rem 3rem 3rem;
    border-radius: 1 em;
}

.special {
    font-weight: 600;
}

.rainbow {
    background: linear-gradient(
        to bottom right,
        red,
        red,
        orange,
        yellow,
        lime,
        cyan,
        magenta,
        magenta
    );
    background-clip: text;
    color: transparent;
    width: fit-content;
}

.mono {
    font-family: monospace;
}

ul,
ol {
    list-style: disc;
    margin: 1em 2em;
}
